/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none;
} blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/*-TO DO: Refactor to address any redundancy-*/

/*------------------- My CSS -------------------*/

body {
  font-family: ''DM Sans', sans-serif';
  font-size: medium;
  background-color: #f2f2f2;
}

#reviews_component a {
  text-decoration: inherit;
}

/*----------App Component----------*/

#reviews_component #reviews {
  margin-bottom: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 16px 24px 24px;
  background-color: #fff;
  width: auto;
  max-width: 763px;
  position: relative;
  width: 750px;
  display: block;
  box-sizing: border-box;
}

/*-----Reusable Classes-----*/

#reviews_component .primary_button {
  background-clip: padding-box;
  background-color: #000;
  border: 1px solid #000;
  display: blocl;
  position: relative;
  text-align: center;
  float: right;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  line-height: 18px;
}

#reviews_component .secondary_button {

}

/*-----Header Component-----*/

#reviews_component .header {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px;
  display: flex;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #000a12;
}

#reviews_component #title_text {
  flex-grow: 1;
  margin-right: 5px;
}

#reviews_component #all_reviews_count {
  padding-left: 12px;
  color: #767676;
}

/*-----Filters Component-----*/

 #reviews_component .temp {
  max-width: 698px;
}

/*---Review Component---*/

#reviews_component .review_container {
  display: block;
  border-top: 1px solid #e5e5e5;
}

#reviews_component .review {
  margin: 8px 0 4px;
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  position: relative;
}

/*---Author Component---*/

#reviews_component .author_column {
  box-sizing: border-box;
  display: block;
  padding: 8px 0;
  width: 16.66666667%;
  min-width: 100px;
}

#reviews_component .member_info {
  cursor: pointer;
}

 #reviews_component .review_content {
  border-top-width: 0;
  position: relative;
  overflow: visible;
  margin: 8px 0 4px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#reviews_component .avatar {
  margin-bottom: 10px;
  display: block;
}

#reviews_component .avatar_image img {
  margin: 0px auto;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  overflow: hidden;
  position: relative;
  display: block;
  border: 50%;
}

#reviews_component .author_name {
  display: block;
  flex-direction: column;
  padding: 0 8px;
  text-align: center;
  height: inherit;
  font-size: 11px;
  line-height: inherit;
  justify-content: center;
  color: #4a4a4a;
  text-overflow: ellipsis;
}

#reviews_component .member_badge {
  display: block;
  color: #2c2c2c;
  font-size: 11px;
  line-height: 16px;
  color: #4a4a4a;
  text-align: center;
}

/*---ReviewContent Component---*/

#reviews_component #review_content {
  box-sizing: border-box;
  display: block;
  flex-basis: auto;
  padding: 8px 0;
  width: 75%;
}

#reviews_component .bubbles {
  margin: 1px 8px 0 1px;
  display: inline-block;
  position: relative;
  color: #00aa6c;
}

#reviews_component .date_ago {
  color: #4a4a4a;
  font-size: 12px;
  padding-right: 9px;
}

#reviews_component .review_title {
  display: block;
  text-align: left;
  margin: 8px 0 0;
}

.review_title a {
  margin-bottom: 8px;
  font-size: 20px;
  color: #000a12;
  cursor: pointer;
}

#reviews_component .review_body {
  margin-top: 5px;
  display: block;
  font-size: 14px;
  line-height: 20px;
}

#reviews_component .review_body p {
  overflow-wrap: break-word;
}

#reviews_component .more {
  cursor: pointer;
  font-weight: 700;
}

#reviews_component .date_visited {
  display: block;
  font-size: 14px;
  color: #4a4a4a;
}

#reviews_component .date_visited_label {
  margin-top: 12px;
  display: inline-block;
  color: #000a12;
  font-weight: 700;
}

#reviews_component .vote_line {
  width: 111%;
  overflow: hidden;
  margin-top: 12px;
}

#reviews_component .flag {
  width: auto;
  float: right;
  padding-top: 3px;
  height: 16px;
  color: #000;
  font-size: 16px;
  line-height: 12px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 16px;
}

/*-Note to self: Might need a ::before here-*/

#reviews_component .helpful_area {
  overflow: visible;
  float: none;
  margin: 0;
  overflow: visible;
  padding: 0;
}

#reviews_component .isHelpful {
  font-size: 12px;
  margin: 4px 8px 0 0;
  color: #4a4a4a;
  line-height: normal;
  float: left;
}

#reviews_component .thankButton {
  height: 20px;
  padding: 0 6px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: inline-block;
  background-color: #fff;
  color: #4a4a4a;
  text-align: center;
  box-sizing: border-box;
}

#reviews_component .thumbsIcon {
  font-size: 14px;
  height: auto;
  line-height: 19px;
  margin-right: 4px;
  margin-left: 5px;
  color: #000;
}

#reviews_component #thumbs {
  width: 15px;
}

/*-Note to self: Might want to check back on inheritance with
.helpful_text-*/
/*-Note to self: Check on buttonShade class here w/ img tag-*/

/*-----Footer Component-----*/

#reviews_component #footer {
  display: block;
  margin: 0;
  padding: 0;
}

#reviews_component #pagination {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #e5e5e5;
  padding: 12px 10px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*-Note to self: Some of this can be refactored to address redundancy; consider breaking into subclasses, e.g. a button class-*/

#reviews_component #previousButton {
  float: left;
  display: inline-block;
  pointer-events: none;
  border-color: #000;
  color: #000;
  cursor: auto;
  border-radius: 3px;
  background-color: #fff;
  -webkit-appearance: none;
  position: relative;
  padding: 8px 16px;
  font-weight: 700;
  font-family: inherit;
  border: 1px solid #000;
  background-clip: padding-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialisased;
  opacity: .32;
  width: 85px;
}

#reviews_component #nextButton {
  float: right;
  background-color: #000;
  border-color: #000;
  border-radius: 3px;
  color: #fff;
  position: relative;
  -webkit-appearance: none;
  display: inline-block;
  padding: 8px 16px;
  font-weight: 700;
  font-family: inherit;
  border: 1px solid transparent;
  background-clip: padding-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  width: 85px;
}

/*-Note to self: Page list should be subcomponent so as to more elegantly handle dynamic logic/rendering*/
/*-TO DO: Improve CSS for page numbers; this is very bare bones and does not support all functionality-*/

#reviews_component .page_number_selected {
  color: #000;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  cursor: default;
  line-height: 40px;
  height: 40px;
  width: 40px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
}

#reviews_component .page_number {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  line-height: 40px;
  height: 40px;
  width: 40px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  display: inline-block;
  border-radius: 2px;
}

#reviews_component #pageSeparator {
  width: 32px;
  line-height: 30px;
  color: #767676;
  text-decoration: none;
  text-align: center;
  -webkit-font-smoothing: antialisased;
  font-size: medium;
}